[submodule "emu2149"]
	path = emu2149
	url = https://github.com/visrealm/emu2149
[submodule "UGUI"]
	path = UGUI
	url = https://github.com/achimdoebler/UGUI
[submodule "jgz80"]
	path = jgz80
	url = https://github.com/carmiker/jgz80
[submodule "samdisk"]
	path = samdisk
	url = https://github.com/simonowen/samdisk 
