CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_COUINT=16
CONFIG_BLK_DEV_RAM_SIZE=231072
CONFIG_RD_GZIP=y
CONFIG_DRM=y
CONFIG_DRM_VIRTO_GPU=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_FB=y
CONFIG_VT=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_PCI_LEGACY=y
CONFIG_VIRTIO_BALLOON=y 
CONFIG_VIRTIO_CONFIG_OPS=y
CONFIG_VIRTIO_MENU=y

CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_SND_PCI=y
CONFIG_SND_ENS1370=y
